.card{
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 1rem;
  padding-left: 0rem;
  margin: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-text);
}
.card:hover{
  background-color: #e0e0e0;
}
.left{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem 1rem;
}
.middle{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0rem 1rem;
}

.textInput{
  border: 1px solid rgba(0,0,0,0.12);;
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  background-color: inherit;
  color: inherit;

}
@media only screen and (max-width: 1000px) {
  .card{
    width: 90%
  }

}

@media only screen and (max-width: 400px) {
  .card{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .left{
    padding-left: 1rem;
    padding-right: .5rem;
  }
  .middle{
    max-width: 90%;
  }
  .right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
